.skyhigh-header {
  background-color: #9EC5FE;
}

.nav-link {
  font-weight: 500;
  color: #333;
}
.nav-link:hover {
  color: #0d6efd;
}

.btn-primary {
  border: none;
  font-weight: 600;
  border-radius: 20px;
}

.search-form input {
  border-radius: 20px;
}

@media (max-width: 430px) {
  .search-form input,
  .btn-primary {
    width: 100%;
  }
}


@media (min-width: 431px) and (max-width: 1024px) {
  .search-form input,
  .btn-primary {
    width: 150px; 
  }
}


@media (min-width: 1025px) {
  .search-form input {
    width: 200px;
  }
}

.offcanvas {
  width: 250px;
}

.offcanvas-body {
  align-items: flex-start;
}

.offcanvas-body .nav-link {
  padding-left: 0;
}